<ion-searchbar
  (ionInput)="handleInput($event)"
  class="custom-search-bar"
  animated="true"
  placeholder="Search your outcome 🍭"
></ion-searchbar>
<div class="wrapper">
  <div
    class="ion-button ion-activatable ripple-parent"
    (click)="calendarMode()"
  >
    <div *ngIf="!isCalendarMode">
      <ion-icon name="calendar-outline"></ion-icon> Calendar
    </div>
    <div *ngIf="isCalendarMode">
      <ion-icon name="list-outline"></ion-icon> List
    </div>
    <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
  </div>

  <div
    class="ion-button ion-activatable ripple-parent"
    id="open-modal-filters"
    expand="block"
  >
    <ion-icon name="options-outline"></ion-icon> Filters
    <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
  </div>
</div>

<ion-modal #modalFilters trigger="open-modal-filters">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Filters</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form
        [formGroup]="outcomeFiltersForm"
        (ngSubmit)="applyFilter()"
        novalidate
      >
        <ion-row class="custom-filter">
          <ion-col>
            <div>By Month and Year</div>
          </ion-col>
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  formControlName="date"
                  id="datetime"
                  presentation="month-year"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col>
        </ion-row>

        <ion-row class="custom-filter">
          <ion-select
            formControlName="category"
            type="text"
            required
            aria-label="fruit"
            placeholder="Select category"
          >
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="alimentacion"
              >Alimentación</ion-select-option
            >
            <ion-select-option value="diversion">Diversión</ion-select-option>
            <ion-select-option value="viajes">Viajes</ion-select-option>
            <ion-select-option value="musica">Música</ion-select-option>
            <ion-select-option value="deportes">Deportes</ion-select-option>
            <ion-select-option value="casa">Casa</ion-select-option>
            <ion-select-option value="profesional"
              >Profesional</ion-select-option
            >
            <ion-select-option value="transporte">Transporte</ion-select-option>
            <ion-select-option value="ropa">Ropa</ion-select-option>
            <ion-select-option value="saludehigiene"
              >Salud e higiene</ion-select-option
            >
            <ion-select-option value="cuentasypagos"
              >Cuentas y pagos</ion-select-option
            >
            <ion-select-option value="otros">Otros gastos</ion-select-option>
          </ion-select>
          <!-- <ion-col>
            <div>By Day</div>
          </ion-col>
          <ion-col>
            <ion-datetime-button dateday="dateday"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  formControlName="dateDay"
                  id="datetime"
                  presentation="month-year"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              [disabled]="!outcomeFiltersForm.valid"
              type="submit"
              color="primary"
              expand="block"
              >Apply</ion-button
            >
            <ion-button
              [disabled]="!outcomeFiltersForm.valid"
              color="warning"
              expand="block"
              (click)="resetFilters()"
              >Reset filters</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
