<ion-grid class="limit-area">
  <ion-row class="custom-row">
    <ion-col>
        <p class="custom-label">Alimentación</p>
    </ion-col>
    <ion-col>
      <div class="custom-sublabel ion-text-end">
        Gastado: 10€
      </div>
    </ion-col>
    <ion-col>
      <div class="custom-sublabel ion-text-end">Límite: 100€</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-progress-bar
        class="custom-progress-bar"
        value="{{0.1}}"
      ></ion-progress-bar>
    </ion-col>
  </ion-row>
</ion-grid>