.custom-row{
    margin-bottom: -1rem;
}

.custom-label {
    font-weight: bold;
    font-size: 1rem;
}

.custom-sublabel{
    color: gray;
}

.custom-progress-bar{
    height: 0.8rem;
}

.limit-area {
    padding: 1rem;
    background-color: aliceblue;
    margin-bottom: 1rem;
}