<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="payable">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Payable</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="limits">
      <ion-icon name="color-filter-outline"></ion-icon>
      <ion-label>Limits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart-simulation">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart simulation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
