<ion-fab size="small" class="custom-ion-fab-add" slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button id="open-modal" expand="block">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-item-divider>
    <ion-label class="custom-ion-label-total-outcomes ">
      Outcomes: {{allOutcomes?.length}}
    </ion-label>
  </ion-item-divider>
  
  <ion-list class="custom-outcome-list">
    <ion-item-sliding *ngFor="let item of allOutcomes">
      <ion-item href="tabs/payable/outcomes/update/{{item.id}}">
        <ion-label>
          <h4>{{item.description}}</h4>
          <!-- <p>{{item.responsable}}</p> -->
          <p>{{item.createdAt | date}}</p>
        </ion-label>
  
        <ion-label slot="end">
          <h4>{{item.expense | currency}}</h4>
          
        </ion-label>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="deleteOutcome(item)" color="danger"
          >Delete</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- <ion-button id="open-modal" expand="block">Open</ion-button> -->
  
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>New outcome</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="outcomeForm" (ngSubmit)="saveOutcome()" novalidate>
          <ion-item lines="full">
            <ion-label position="floating">Description</ion-label>
            <ion-input autofocus
              formControlName="description"
              type="text"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Responsable</ion-label>
            <ion-input
              formControlName="responsable"
              type="text"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Expense</ion-label>
            <ion-input
              formControlName="expense"
              type="number"
              required
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Category</ion-label>
            <ion-input
              formControlName="category"
              type="text"
              required
            ></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button
                [disabled]="!outcomeForm.valid"
                type="submit"
                color="primary"
                expand="block"
                >Save</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>