.custom-ion-label-total-outcomes {
    font-size: 0.8rem;
    color: #7b7878;
  }

  .custom-outcome-list {
    margin-bottom: 9rem;
  }

  .custom-createdat {
    margin-left: auto;
    padding-bottom: 0.3rem;
  }

  .custom-item-right-data {
    display: grid;
  }

  .custom-right-list {
    margin-left: auto; 
    margin-right: 0;
  }

  .custom-category {
    background-color: antiquewhite;
    padding: 0.1rem;
    border-radius: 0.1rem;
  }