<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Payable</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Outcomes -->
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-card routerLink="/tabs/payable/outcomes">
        <img alt="Silhouette of mountains"
          src="../../assets/outcomes.png" />
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>


<!-- Incomes -->
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-card>
        <img alt="Silhouette of mountains"
          src="https://img.freepik.com/free-photo/calculator-money-wallet-investment-saving-finance-concept-pink-background-3d-rendering_56104-1432.jpg?w=360" />
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>