/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
}

.custom-card-header {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.custom-card-subtitle {
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
}

.custom-next-icon {
    margin-top: 1rem;
}

.custom-col-card-outcome {
    // margin-top: -0.5rem;
    margin-left: 0.2rem;
    margin-bottom: -2rem;
    margin-top: -1rem;
}

.custom-col-card-income {
    margin-left: 0.2rem;
}
.custom-forward {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
}
.custom-row-chart {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.custom-resume {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    margin-bottom: -1.2rem;
}
.custom-progress-bar {
    height: 0.6rem;
    margin-top: 0.3rem;
}
.summary-label {
    font-size: 0.7rem;
}