.custom-body-calendar {
    background-color: #7b7878;
}

.custom-ion-label-total-outcomes {
    font-size: 0.8rem;
    color: #7b7878;
  }

  .custom-outcome-list {
    margin-bottom: 9rem;
  }

  .custom-createdat {
    margin-left: auto;
    padding-bottom: 0.3rem;
  }

  .custom-calendar-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .no-scroll {
    --overflow: hidden;
  }