<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Outcomes</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger"> {{-this.totalOutcomes | currency}} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <app-header-outcomes></app-header-outcomes>
  <app-body-outcomes
    (totalOutcomesOutput)="getTotalOutcomes($event)"
  ></app-body-outcomes>
</ion-content>
